
@{
    ViewBag.Title = "AddNhap";
    Layout = "~/Views/Shared/_Layout_QL.cshtml";
}
<body>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Phiếu nhập sản phẩm
            </h1>
            <ol class="breadcrumb">
                <li><a href="/"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
                <li><a href="/">Quản lý sản phẩm</a></li>
                <li class="/">Danh sách phiếu nhập sản phẩm</li>
                <li class="active">Phiếu nhập sản phẩm</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
             <div class="row">
                @*@if (TempData["add_success"] != null)
                {
                    <div class="alert alert-success text-center" id="AlertBox">
                        @TempData["add_success"]
                    </div>
                }*@
            </div> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Mã Phiếu:</h4>
                        <input class="col-sm-5" type="text" name="TenSP" value="ID_PhieuNhap" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Ngày Nhập:</h4>
                        <input class="col-sm-5" type="date" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Tên SP:</h4>
                        <input class="col-sm-5" type="text" name="TenSP" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Loại SP:</h4>
                        <select class="col-sm-5">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Đơn Giá:</h4>
                        <input class="col-sm-5" type="number" name="DonGia" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <h4 class="col-sm-6" id="title">Số Lượng:</h4>
                        <input class="col-sm-5" type="number" name="DonGia" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">

                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="#">
                            <button class="btn btn-primary btn-lg">
                                Thêm
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <a href="#">
                            <button class="btn btn-secondary btn-lg" type="reset">
                                Hủy
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-4"></div>

                </div>
            </div>

            <!-- Modal -->

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title text-center">Danh sách sản phẩm</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <table id="tblData" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Tên SP</th>
                                        <th class="text-center">Loại SP</th>
                                        <th class="text-center">Đơn Giá</th>
                                        <th class="text-center">Số Lượng</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                     @*@foreach (var item in Model)
                                    { -->*@
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td class="text-center">Áo thun</td>
                                            <td class="text-center">Áo</td>
                                            <td class="text-center">150.000 đ</td>
                                            <td class="text-center">12</d>
                                            <td class="text-center">
                                                <button class="btn btn-danger btnDelete"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                         @*dem++;
                                    }*@ 

                                </tbody>

                            </table>
                            <div class="form-Phieu row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h2>Tổng tiền:</h2>
                                        </div>
                                        <div class="col-sm-7">
                                            <h2>20.000.000 đ</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                            <div class="form-Phieu row">
                                <div class="row">
                                    <div class="col-sm-6">

                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <a href="@Url.Action("DanhSachPhieuNhapSP","QL_Kho")">
                                                <button class="btn btn-primary btn-lg">
                                                    Xác nhận
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <a href="/QL_Kho/DanhSachPhieuNhapSP">
                                                <button class="btn btn-secondary btn-lg">
                                                    Đóng
                                                </button>
                                            </a>
                                        </div>
                                        <div class="col-sm-4"></div>

                                    </div>
                                </div>
                            </div> @*/.box-body*@ 
                        </div> @*/.box*@ 

                    </div><!-- /.col -->
                </div><!-- /.row -->
        </section><!-- /.content -->
    </div>
    <!-- Modal -->

</body>


<script>
        $(function () {
            $("#tblData").DataTable();
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);


            $('.btnDelete').off('click').on('click', function () {

                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/VTPT/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa vật tư phụ tùng thành công.'
                                });
                                 setTimeout(function () {
                                    window.location.href = "/vtpt/index";
                                }, 2000);
                            } else {
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa vật tư phụ tùng KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );
                //notice.on('pnotify:cancel', () => alert('Oh ok. Chicken, I see.'));

            });

            $('.btnEdit').click(function (event) {
                $('.edit').modal('show');
                //alert($(this).data('id'));
                var ID = $(this).data('id');
                $.ajax({
                    url: "/VTPT/GetByID/" + ID,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                        $('#Ten').val(res.Ten);
                        $('#DonGia').val(res.DonGia);
                        $('#IDVTPT').val(res.IDVTPT);
                    }
                });
            });
        });
</script>





