
@model IEnumerable<DoAnBanHang.Models.SanPham>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="bestseller">
            <center><span class="bestseller-title">KẾT QUẢ TÌM KIẾM</span></center>
        </div>
    </div>
</div>
<hr class="line" />
<div class="products">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-md-4 item">
                @*<a href="@Html.Action("Detail","Index", new { id=item.ID_SP })">*@
                <a href="/Detail/Index/@item.ID_SP">
                    <div class="item-inner"></div>
                    <img src="@Url.Content(item.Image)" class="item-img" />
                    <p class="item-name">@Html.DisplayFor(modelItem => item.TenSP)</p>
                    <div class="item-price">

                        <span> @Html.DisplayFor(modelItem => item.DonGia) đ</span>
                    </div>
                </a>
                @*<a href="/Shopping/AddToCart/@item.IDPro" id="btn_cart">Thêm vào giỏ</a>*@
            </div>

        }
    </div>
</div>